* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

#page {
    border: 3px solid black;
    background-color: #d5dfec;
    border-radius: 10px;
    padding: 2.5rem;
    width: 70%;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}